<script>
  $(function () {
     $("body").css("display", "none");
        $("body").fadeIn(1000);


  });
 </script>
<style>
	#wrapper-help{
		
		background-color: rgba(250,250,250,0.5);
		width: 70%;
		float: left;
		padding: 3px;
		margin-left: 25%;
	}
	
	#cont-btn{
		position: fixed;
		top: 20px;
	}


</style>

	<div id="cont-btn">
		<a  data-role="button" href="#menu"  class="btn-menu btn-return" data-icon="back"></a>
	</div>


 <div id="wrapper-help">
 	
 	<h2>Normal Mode</h2>
 	<p>Este juego es bastante facil lo unico que tienes que hacer es darle click al boton para inflar el mayor numero
 	de globos.</p>

 	<h2>Competition Mode</h2>
 	<p>Ahorra que tienes mas experiencia puedes competir con tus amigos o personas de todas partes para ver quien
    infla los globos mas rapido.</p>
 	
 </div>
 
