<style>
	#wrapper-level{
		
		/*background-color: rgba(250,250,250,0.5);*/
		text-align: center;
		width: 70%;
		margin: 0 auto;
		float: left;
		padding: 3px;
		margin-left: 25%;

	}
	
	
</style>
<div id="cont-btn">
		<a  data-role="button" href="#menu"  class="btn-menu btn-return" data-icon="back"></a>
	</div>

 <div id="wrapper-level">
 	<span id="title-header">Niveles</span>
 <a  data-role="button" href="#menu-score" class="btn-menu btn-level">Level 1</a>
 <a  data-role="button"  class="btn-menu btn-level">Level 2</a>
 	
 </div>

 