<style>
	#tbl-score{
		border-collapse:collapse; 
		border: none;
		width: 80%;
		margin: 0 auto;
		text-align: center;
	    background-color: rgba(250,250,250,0.5);
	}

	#tbl-score thead{
		
	}
	#tbl-score tr{
		border-bottom: 1px solid gray;
	}
	#tbl-score tbody tr{
	height: 50px;
	}
	
	#wrapper-score{
		margin-left: 25%;
		text-align: center;
	}
</style>
<div id="cont-btn">
		<a  data-role="button" href="#menu"  class="btn-menu btn-return" data-icon="back"></a>
	</div>
<div id="wrapper-score">
	<span id="title-header">Nivel 1</span>
	<table id="tbl-score" >

	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Time</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>1.</td>
			<td>Luko</td>
			<td>390 ms</td>
		</tr>
	</tbody>

</table>
</div>
