<!-- Inicio game1 juego solo-->

<link rel="stylesheet" type="text/css" href="../css/style.css">


<div data-role="page" id="help">
	
		<style>
		.ui-content{
		    margin-bottom:75px; /* Set this to whatever your footer size is... */
		}
		</style>

		

		<div data-role="content" id="help-cont">
			<div id="cont-btn" ><a href="../index.html" data-role="button" data-icon="back" class="btn-back"></a></div>
			
 				<div id="tbl-points">
 						<div class="point">Ballon<br><span id="ballones"> </span></div>
 						<div class="point">Taps <br> <span id="ClicksButton"> </span>/10</div>
 				</div>
				
				
			 	
		
		</div><!-- /content -->
		
		<div data-role="footer" data-position="fixed">
		<a  data-role="button"  class="btn-menu btn-level" id="big-btn"></a>

		</div>
	
		<script src="../js/game1.js"></script>
		
</div>
