<link rel="stylesheet" type="text/css" href="../css/style.css">
<div data-role="page" id="help">

		<div data-role="content" id="help-cont">

			<div id="cont-btn" ><a href="../index.html" data-role="button" data-icon="back" class="btn-back"></a></div>
			<div id="wrapper-help">
 	
		 	<h2>Normal Mode</h2>
		 	<p>Este juego es bastante facil lo unico que tienes que hacer es darle click al boton para inflar el mayor numero
		 	de globos.</p>

		 	<h2>Competition Mode</h2>
		 	<p>Ahorra que tienes mas experiencia puedes competir con tus amigos o personas de todas partes para ver quien
		    infla los globos mas rapido.</p>
		 	
		 </div>	
		</div><!-- /content -->

	</div><!-- /page -->