<link rel="stylesheet" type="text/css" href="../css/style.css">
<div data-role="page" id="help">

		<div data-role="content" id="help-cont">

			<div id="cont-btn" ><a href="../index.html" data-role="button" data-icon="back" class="btn-back"></a></div>
			<div id="wrapper-level">
 	
				<div class="title-header">Niveles</div>
				 <a  data-role="button"  href="score.html"class="btn-menu btn-level">Level 1</a>
				 <a  data-role="button"  class="btn-menu btn-level">Level 2</a>
			 	
		 </div>	
		</div><!-- /content -->

	</div><!-- /page -->