<link rel="stylesheet" type="text/css" href="../css/style.css">
<div data-role="page" id="help">

		<div data-role="content" id="help-cont">

			<div id="cont-btn" ><a href="level.html" data-role="button" data-icon="back" class="btn-back"></a></div>
			<div id="wrapper-score">
 				<div class="title-header">Nivel 1</div>
					<table id="tbl-score" >

					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Time</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>1.</td>
							<td>Luko</td>
							<td>390 ms</td>
						</tr>
					</tbody>

				</table>
							 	
		 </div>	
		</div><!-- /content -->

	</div><!-- /page -->